body {
  font-family: "Times New Roman", Times, serif;
}

#header {
  text-align: center;
  font-style: italic;
  color: red;
  background-color: yellow;
  padding: 10px;
}

.artikel {
  /* background: linear-gradient(blue, yellow, red); */
  background: green;
  border: 1px dashed green;
  color: white;
  padding: 15px;
  margin-top: 20px;
}

h1 {
  font-size: 90px;
}

.box {
  background-color: blue;
  color: white;
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  padding: 30px;
  border-radius: 50%;
}
